<h1>Teams</h1>
<%= button_to 'Add Team', new_team_path, method: :get, class: "btn btn-primary" %>
<table class="table table-hover table-condensed">
  <tr>
    <th><h2>Name</h2></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= link_to 'Edit', edit_team_path(team), class: "btn btn-small" %></td>
    <td><%= link_to 'X', team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small" %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Add Team', new_team_path, method: :get, class: "btn btn-primary" %>
