<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id, "Name:" %>
    <%= f.collection_select :person_id, Person.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :team_id, "Team:" %>
    <%= f.collection_select :team_id, Team.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit "Add to team"%>
  </div>
<% end %>
