<h1>Team Rosters</h1>

<%= button_to 'Make a Team', new_team_path, method: :get, class: "btn btn-primary" %>
<% @teams.each do |team| %>

<h2>
  <%= team.name %>
</h2>
<table class="table table-hover table-condensed">
  <tr>
    <th><h3>Name</h3></th>
    <th><h3>Email</h3></th>
    <th></th>
    <th></th>
  </tr>

<% @team_rosters[team.id].each do |member| %> 
  <tr>
    <td><%= member.person.name %></td>
    <td><%= member.person.email %></td>
    <td><%= link_to 'X', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small" %></td>
  </tr>
<% end %>
</table>

<%= form_for Membership.new do |f| %>
<p>
  <%= f.collection_select :person_id, Person.order("name ASC"), :id, :name, {prompt: 'Select name', class: "dropdown"} %>
  <%= f.hidden_field :team_id, value: team.id %>
  <%= f.submit "Add to team", class: "btn btn-small btn-primary"  %>
</p>
<% end %>

<br />

<% end %>
