<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @membership.person_id %>
</p>

<p>
  <b>Team:</b>
  <%= @membership.team_id %>
</p>


<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
