<h1>Staff Roster</h1>

<%= button_to 'Add Person', new_person_path, method: :get, class: "btn btn-primary" %>

<table class="table table-hover table-condensed">
  <tr>
    <th><h2>Name</h2></th>
    <th><h2>Email</h2></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.email %></td>
    <td><%= link_to 'Edit', edit_person_path(person), class: "btn btn-small" %></td>
    <td><%= link_to 'X', person, method: :delete, data: { confirm: 'Are you sure?' },
    class: "btn btn-small" %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Add Person', new_person_path, method: :get, class: "btn btn-primary" %>
