@import "bootstrap";

/* Header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
//   font-size: 1.7em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
  text-align: left;
//   // font-weight: normal;
//   color: #999;
}

h3 {
  text-align: left;
  color: grey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}