<%= form_for(@pairing) do |f| %>
  <% if @pairing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pairing.errors.count, "error") %> prohibited this pairing from being saved:</h2>

      <ul>
      <% @pairing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.number_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :pair_id %><br />
    <%= f.number_field :pair_id %>
  </div>
  <div class="field">
    <%= f.label :pairing_date %><br />
    <%= f.datetime_select :pairing_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
