<h1>1+1 Pairings</h1>

<table class="table table-hover table-condensed">
  <tr>
    <th><h2>Person 1 </h2></th>
    <th><h2>Person 2</h2></th>
    <th><h2>Date</h2></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pairings.each do |pairing| %>
  <tr>
    <td><%= pairing.person.name %></td>
    <td><%= pairing.pair.name %></td>
    <td><%= pairing.pairing_date.to_formatted_s(:long) %></td>
    <!-- <td><%= link_to 'Edit', edit_pairing_path(pairing) %></td> -->
    <td><%= link_to 'X', pairing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small" %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Generate pairings', batch_pairings_path, method: :post, class: "btn btn-primary" %>
