<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @pairing.person_id %>
</p>

<p>
  <b>Pair:</b>
  <%= @pairing.pair_id %>
</p>

<p>
  <b>Pairing date:</b>
  <%= @pairing.pairing_date %>
</p>


<%= link_to 'Edit', edit_pairing_path(@pairing) %> |
<%= link_to 'Back', pairings_path %>
