<!DOCTYPE html>
<html>
<head>
  <title>IFTTT Matchmaker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "IFTTT Matchmaker", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "People",    people_path %></li>
          <li><%= link_to "Teams", teams_path %></li>
          <li><%= link_to "Team Rosters", memberships_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
	<div class="hero-unit">
		<%= yield %>
	</div>
</div>
</body>
</html>
